.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: rgba(66, 133, 244, 1);
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    position: relative;
}
  
  .hamburger-button {
    display: block;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  